{% extends "../wrappers/base.html" %}

{% block title %}Leader Board{% endblock %}

{% block body %}

<div class="leadearboard">
    <div class="grid grid-2">
      <span class="user__username user__username-header">
        Пользователь
      </span>
      <span class="user__quizzes user__quizzes-header">
        Пройденных опросов
      </span>
    </div>
  {% for user in users %}
    <div class="user grid grid-2"
        style="
        background-color: {{user.bg_color}}; 
        border: 1px solid {{user.border_color}};
        color: {{user.bg_invert}};"
      >
      <span class="user__username">
        {{user.username}}
      </span>
      <span class="user__quizzes">
        {{user.num_quizzes}}
      </span>
    </div>
  {% endfor %}
  {% if prev is not None %}
    <a href="{{prev}}" class="page__link-nav">Prev</a>
  {% endif %}
  {% if next is not None %}
    <a href="{{next}}" class="page__link-nav">Next</a>
  {% endif %}
</div>

{% endblock %}