{% extends "../wrappers/base.html" %}

{% block title %}Profile{% endblock %}

{% block head %}

{% endblock %}
{% block body %}

<div class="profile">
    <div class="profile__info">
      <h2 class="profile__username">
        {{user.username}}
      </h2>
      <span class="profile__balance">{{user.balance}}</span>
    </div>
    <form action="{% url 'profile' %}" class="change_color__form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save">
    </form>
</div>

{% endblock %}