{% extends "../wrappers/base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="profile">
    <div class="profile__info">
      <h2 class="username">
        {{user.username}}
      </h2>
      <div class="balance__wrapper">
        <span class="balance__label">Баланс</span>
        <span class="balance">{{user.balance}}</span>
      </div>
    </div>
    <form action="{% url 'profile' %}" class="change_color__form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="button__wrapper">
        <span class="button__text">
          Изменить цвета профиля за {{cost}}?
        </span>
        <input type="submit" value="Да">
      </div>
    </form>
</div>

{% endblock %}