{% extends "../wrappers/base.html" %}

{% block title %}Quiz List{% endblock %}

{% block head %}

{% endblock %}
{% block body %}
  {% if is_anonymus %}
    <h1 class="anonymus_warning">
      Сперва авторизуйся
    </h1>
  {% else %}
  {% if full_fields %}
  <h3 class="error">Ответьте на все вопросы</h3>
  {% endif %}
    <div class="quiz">
      <div class="quiz__info">
        <h2 class="quiz__name">{{form.quiz.name}}</h2>
        <span class="quiz__description">{{form.quiz.description}}</span>
      </div>
      <form action="{{ request.path }}" method="post" class="quiz__form">
        {% csrf_token %}
        {{ form.questions }}
        <input type="submit" value="Submit">
      </form>
    </div>
  {% endif %}
{% endblock %}



<!-- <div class="quiz">
  <div class="quiz__info">
    <h2 class="quiz__name">{{quiz.name}}</h2>
    <h3 class="quiz__description">{{quiz.description}}</h3>
    <h4 class="quiz__payment">{{quiz.payment}}</h4>
  </div>
  <form action="post">
    {% csrf_token%}
    <ul class="questions">
      {% for ques in questions %}
        <li class="question">
          <h2 class="question__name">{{ques}}</h2>
          <div class="answers">
            {% for ans in ques.choices.all %}
              <p>{{ans}}</p>
            {% endfor %}
          </div>
        </li>
      {% endfor%}
    </ul>
  </form>
</div> -->
