{% extends "../wrappers/base.html" %}

{% block title %}Quiz List{% endblock %}

{% block head %}

{% endblock %}
{% block body %}

<div class="quizzes">
  <div class="quiz quiz-header">
    {% for key in quizzes.0 %}
    <span class="quiz__{{key}} quiz__{{key}}-header">
      {% if key == 'id' %}
        Кнопка
      {% else %}
        {{key}}
      {% endif %}
    </span>
    {% endfor %}
  </div>
  {% for quiz in quizzes %}
    <div class="quiz">
      {% for key, val in quiz.items %}
        {% if key == 'id' %}
          <a href="{%url 'quiz_answer' val%}" class="quiz__{{key}}">Решить</a>
        {% else %}
          <span class="quiz__{{key}}">
            {{val}}
          </span>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
  {% if prev is not None %}
    <a href="{{prev}}" class="page__link-nav">Prev</a>
  {% endif %}
  {% if next is not None %}
    <a href="{{next}}" class="page__link-nav">Next</a>
  {% endif %}
</div>

{% endblock %}