{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body>

  <div class="navbar">
    {% block navbar %}
      <nav class="navigation navigation-auth">
        {% if request.user.is_authenticated %}
          <a href="{% url 'profile' %}" class="naviagation__link navigation__user">{{request.user.username}}</a>
          <a class="naviagation__link" href="/auth/logout">logout</a>
        {% else %}
          <a class="naviagation__link" href="/auth/login">login</a>
          <a class="naviagation__link" href="/auth/register">register</a>
        {% endif %}
      </nav>

      <nav class="navigation naviagtion-pages">
        <a href="{% url 'quiz_list' %}" class="naviagation__link">Quizzes</a>
        <a href="{% url 'leaderboard' %}" class="naviagation__link">Leaderboard</a>
      </nav>
    {% endblock %}
  </div>

  <div class="content">
    {% block body %}
    {% endblock%}
  </div>

  <div class="footer">

  </div>

</body>
</html>